keras
matplotlib-inline
numpy
pandas
protobuf
scikit-learn
scipy
streamlit
nltk
tensorflow
Pillow
streamlit-chat
streamlit-extras
certifi
streamlit
google-generativeai
python-dotenv
pdf2image
langchain
langchain_google_genai
faiss-cpu
langchain_community
